body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: #101010;
    color: white;
}
canvas {
    border: 1px solid #000;
    width: 100vw;
    height: 100vh;
    display: block;
    pointer-events: none;
}
#startButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 500%;
    width: 60px;
    height: 60px;
    font-size: 25px;
    transition: transform 0.5s ease; 
    z-index: 2;
}
.overlay {
    position: fixed;  
    font-family: 'Fira Code', monospace;
    font-size: 40px;
    top: 30%;
    z-index: 2;
}
.center-point {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}
.info {
    text-align: center;
    position: fixed;
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    line-height: 70px;
    display: none;
    pointer-events: none;
}
#percent {
    position: absolute;
    /* width: 260px; */
    /* text-align: center; */
    transform: translate(-50%, -50%);
    top: 10%;
	left: 50%;
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    display: none;
    pointer-events: none; /* it makes element transparent for mouse event */
}
.score {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
	left: 50%;
    font-family: 'Indie Flower', cursive, sans-serif;
    font-size: 25px;
    pointer-events: none;
}